@model IEnumerable<OnlineShoppingMVC.Models.ProdCategory>
@{
    ViewBag.Title = "FirstPage";
}
<div align="center" style="background-color:black">
   
    <form method="post" action="ProductList">
        <center>
            <img width="150" height="25" src="~/Images/Flipkart.png" />    &nbsp;
            <input type="text" name="name" placeholder="Search Products" width="200"/>    &nbsp;
            <input type="submit" value="Search" /><br/>
        </center>
    </form>
</div>
<div>
    <h2>Welcome To My Shopping Cart</h2>
</div>
<div align="center" style="background-color:white;color:white">
   <img src="~/Images/shopping.jpg" width="900" height="500" />
</div>
<br />

<table>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                <form method="get"action="ProductList">
                    <a href="Display?id=@item.CategoryId&name=@item.CategoryName">
                        @Html.DisplayFor(modelItem=>item.CategoryName)<br/>
                    </a>
                </form>
            </td>
        </tr>
    }
    
    @*<tr>
        <td>
            @Html.ActionLink("Mobiles", "Display")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Clothing", "Display")
        </td>
    </tr>*@
    
</table>
