
@{
    ViewBag.Title = "PlaceOrder";
}

<h2>PlaceOrder</h2>
<div align="center" style="background-color:aquamarine">

    <form method="post" action="ProductList">
        <center>
            <img width="150" height="25" src="~/Images/Flipkart.png" />    &nbsp;
            <input type="text" name="name" placeholder="Search Products" width="200" />    &nbsp;
            <input type="submit" value="Search" /><br />
        </center>
    </form>
</div>
<div align="center" style="background-color:aquamarine">
    <h1 style="color:forestgreen">
   Your Order Placed Successfully!!!!
    </h1>
    <h3 style="color:mediumvioletred">
        Thanks For Shopping Visit Us Again!!!!
    </h3>
</div>
<div align="center" style="background-color:bisque">
    <img src="~/Images/Thanku.jpg" width="200" height="200" />
</div>

    @*<html>
        <head>
            <style>
                h1 {
                    align:center color: red;
                }

                p {
                    color: blue;
                }
            </style>
        </head>
        <body>

            <h1>Your Order Placed Successfully!!!!</h1>
            <h3>Thanks For Shopping Visit Us Again!!!!</h3>
            <img src="~/Images/Thanku.jpg" width="100"height="100" />
        </body>
        </html>*@
